<h1>Cars</h1>
<button (click)="toggleNos()" class="btn btn-xs btn-default">{{ showNos ? 'Hide Cars With Nos' : 'Show All Cars'}} </button>
<hr>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Color</th>
      <th>Nos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | filter:showNos, let i = index">
      <td>{{i + 1}}</td>
      <td>{{car.make}}</td>
      <td>{{car.model}}</td>
      <td>{{car.year}}</td>
      <td><span class="color" [style.background-color]="car.color"></span></td>
      <td>{{ car.nos ? '&#10004;' : '-' }}</td>
      <td><a (click)="carData = this.car" class="btn btn-info">Input ( )</a> <a href="#" class="btn btn-primary" routerLink="/car/{{car.id}}">Edit</a></td>
    </tr>
  </tbody>
</table>
<div *ngIf="carData">
  <app-car-data [carData]="carData" (onAlertCarData)="alertCarData($event)"></app-car-data>
</div>
