.car-form{
  font-family: 'Ubuntu';
  font-weight: bold;
}
.control-label{
  font-weight: bold;
  margin-bottom: 0;
  padding: 5px;
  color: #444;
}
input, select{
  border-radius: 12px;
  background-color: #444;
  border: 0;
  color: white;
}